---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout category="home">
  <h1 class="text-4xl font-bold">Learn</h1>
  <p>A collection of resources built and maintained by the <a href="https://github.com/discordfrens">discordfrens</a> community and team.</p>
</BaseLayout>
