---
---

<div class="flex justify-end pt-4 pl-5 pr-5 pb-4 gap-9 items-center border-b border-b-neutral-800">
  <div class="navitems flex items-center gap-9">
    <a href="https://github.com/discordfrens">
      <i class="fa-brands fa-github text-lg text-neutral-500 hover:text-white"></i>
    </a>
    <a href="https://twitter.com/frensofdiscord">
      <i class="fa-brands fa-twitter text-lg ease-in transition duration-100 text-neutral-500 hover:text-white"></i>
    </a>
    <a href="">
      <i class="fa-brands fa-discord text-base ease-in transition duration-100 text-neutral-500 hover:text-white"></i>
    </a>
    <a href="https://discordfrens.com">
      <i class="fa-solid fa-home text-base ease-in transition duration-100 text-neutral-500 hover:text-white"></i>
    </a>
    <a href="mailto:crew@discordfrens.com">
      <i class="fa-solid fa-at text-base ease-in transition duration-100 text-neutral-500 hover:text-white"></i>
    </a>
  </div>
  <div class="navburger mt-1 opacity-50 hover:opacity-100 ease-in transition duration-100 cursor-pointer">
    <div>
      <div class="w-7 h-0.5 bg-white mb-1"></div>
      <div class="w-7 h-0.5 bg-white mb-1"></div>
      <div class="w-7 h-0.5 bg-white mb-1"></div>
    </div>
  </div>
  <input id="search" type="text" class="py-[.3rem] px-3 transition ease-in border-opacity-50 bg-opacity-50 duration-100 border border-neutral-700 bg-neutral-800 outline-none rounded hover:border-opacity-70 hover:bg-opacity-50 hover:border-neutral-500 hover:bg-neutral-700" placeholder="...">
</div>