---
import { FormatString } from "../lib/utils";

const { category } = Astro.props;

const posts = await Astro.glob("../pages/**/*.mdx")
const stuffs = posts.filter(f => f.frontmatter.category.toLowerCase() === category.toLowerCase())
---

<div class="flex flex-col w-96  pr-3">
  <h1 class="text-[1.45rem] font-bold">{FormatString(category)}</h1>
  {stuffs.map((stuff) => {
    return  <a
          href={`/learn/${stuff.frontmatter.category.toLowerCase().split(" ").join("-")}/${stuff.frontmatter.name.toLowerCase().split(" ").join("-")}`}
          class="min-w-full text-white hover:text-white w-full mb-1 transition ease-in cursor-pointer border-opacity-50 bg-opacity-50 duration-100 border bg-foreground border-border-mid px-2 py-1 rounded hover:border-border-light hover:bg-border"
        >
          <p class="opacity-100 no-margin">{stuff.frontmatter.name}</p>
        </a>
  })}
</div>