---
import { RemoveDupelicates, FormatString } from "../lib/utils";

const { active } = Astro.props;
const posts = await Astro.glob("../pages/**/*.mdx");
const categories = RemoveDupelicates(
  posts.filter((f) => !f.frontmatter.wip)
    .map((z) => z.frontmatter.category)
    .filter((f) => f.toLowerCase() !== "misc")
);
---

<div
  class="sticky min-w-[300px] max-w-[300px] w-[300px] h-screen overflow-y-hidden pt-[1.89rem] pr-3 flex flex-col"
>
<div class="flex flex-col w-full border-b border-border pb-4">
  <h2 class="font-bold text-xl text-white">Important</h2>
  <a
  href={`/`}
  class={`min-w-full text-white hover:text-white w-full mb-1 transition ease-in cursor-pointer border-opacity-50 bg-opacity-50 duration-100 border bg-foreground border-border-mid px-2 py-1 rounded hover:border-border-light hover:bg-border ${
    active === "home"
      ? "bg-border border-border-light"
      : ""
  }`}
  >
  <p class="opacity-100">Home</p>
  </a>
    <a
      href={`/contribute`}
      class={`min-w-full text-white hover:text-white w-full mb-1 transition ease-in cursor-pointer border-opacity-50 bg-opacity-50 duration-100 border bg-foreground border-border-mid px-2 py-1 rounded hover:border-border-light hover:bg-border ${
        active === "misc"
          ? "border-border-light bg-border"
          : ""
      }`}
    >
      <p class="opacity-100">Contribute</p>
    </a></div>
    <div class="pt-4 flex flex-col">
      <h2 class="font-bold text-xl text-white">Topics</h2>
    {
      categories.map((category) => {
      return (
        <a
          href={`/learn/${category.toLowerCase().split(" ").join("-")}`}
          class={`min-w-full text-white hover:text-white w-full mb-1 transition ease-in cursor-pointer border-opacity-50 bg-opacity-50 duration-100 border px-2 py-1 rounded hover:border-border-light hover:bg-border ${
            active === category.toLowerCase().split(" ").join("-")
              ? "border-border-light bg-border-mid"
              : "bg-foreground border-border-mid"
          }`}
        >
          <p class="opacity-100">{FormatString(category)}</p>
        </a>
      );
    })
  }</div>
</div>
