---
import { RemoveDupelicates, FormatString } from "../lib/utils";

const { active } = Astro.props;
const posts = await Astro.glob("../pages/**/*.mdx");
const categories = RemoveDupelicates(
  posts
    .map((z) => z.frontmatter.category)
    .filter((f) => f.toLowerCase() !== "misc")
);
---

<div
  class="min-w-[300px] max-w-[300px] w-[300px] h-screen overflow-y-hidden pt-[1.89rem] pr-3 flex flex-col"
>
<div class="flex flex-col w-full border-b border-gray-600 pb-4">
  <h2 class="font-bold text-xl text-white">Important</h2>
  <a
  href={`/`}
  class={`min-w-full text-white hover:text-white w-full mb-1 transition ease-in cursor-pointer border-opacity-50 bg-opacity-50 duration-100 border border-neutral-700 bg-neutral-800 px-2 py-1 rounded hover:border-opacity-70 hover:bg-opacity-50 hover:border-neutral-500 hover:bg-neutral-700 ${
    active === "home"
      ? "bg-neutral-700 border-neutral-500"
      : ""
  }`}
  >
  <p class="opacity-100">Home</p>
  </a>
    <a
      href={`/contribute`}
      class={`min-w-full text-white hover:text-white w-full mb-1 transition ease-in cursor-pointer border-opacity-50 bg-opacity-50 duration-100 border border-neutral-700 bg-neutral-800 px-2 py-1 rounded hover:border-opacity-70 hover:bg-opacity-50 hover:border-neutral-500 hover:bg-neutral-700 ${
        active === "misc"
          ? "bg-neutral-700 border-neutral-500"
          : ""
      }`}
    >
      <p class="opacity-100">Contribute</p>
    </a></div>
    <div class="pt-4">
      <h2 class="font-bold text-xl text-white">Topics</h2>
    {
      categories.map((category) => {
      return (
        <a
          href={`/learn/${category.toLowerCase()}`}
          class={`min-w-full text-white hover:text-white w-full mb-1 transition ease-in cursor-pointer border-opacity-50 bg-opacity-50 duration-100 border border-neutral-700 bg-neutral-800 px-2 py-1 rounded hover:border-opacity-70 hover:bg-opacity-50 hover:border-neutral-500 hover:bg-neutral-700 ${
            active === category.toLowerCase()
              ? "bg-neutral-700 border-neutral-500"
              : ""
          }`}
        >
          <p class="opacity-100">{FormatString(category)}</p>
        </a>
      );
    })
  }</div>
</div>
