---
import Navbar from "../components/Navbar.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles.css";
const { name, category, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={name} />
    <meta property="og:site_name" content="learn.discordfrens.com" />
    {description ? <meta property="og:description" content={description.slice(0, 50)} /> : ""}
    <meta name="theme-color" content="#3772ff" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lucaburgio/iconoir@main/css/iconoir.css"
    />
    <script
      src="https://kit.fontawesome.com/d3f58eda4f.js"
      crossorigin="anonymous"
    ></script>
    <title>{name ? `📑 - ${name}` : "📕"}</title>
  </head>
  <body class="bg-neutral-900 px-6 overflow-x-hidden text-white overflow-y-hidden">
    <Navbar />
    <div class="mx-auto flex max-w-[90rem]">
      <Sidebar active={category} />
      <div class="main w-full min-w-0 max-w-5xl p-6 md:px-8 overflow-y-scroll max-h-[92.85vh]">
        <slot />
      </div>
    </div>
  </body>
</html>
